---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Lato", sans-serif;
$base-font-size:   16px;
$base-font-weight: 700;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #222222;
$background-color: #FFFFFF;
$brand-color:      #2246D8;

$brand-color-light: rgba($brand-color, .5);
$text-color-light: rgba($text-color, .5);


// Width of the content area
$content-width:    1140px;

$on-palm:          600px;
$on-laptop:        800px;

$color-red:       #fd5c63;
$color-blue:      #2246D8;
$color-green:     #00a78e;
$color-yellow:    #fbb034;

.color-change.red {
  color: $color-red;
}
.color-change.blue {
  color: $color-blue;
}

.color-change.green {
  color:$color-green;
}

.color-change.yellow {
  color: $color-yellow;
}


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;
