---
layout: default
---
<div class="home">
    <div class="profile spacer reveal">
        <h1>Hello there. I'm Carlos, a product designer with over 10 years of experience based in sunny Portugal.</h1>
        <p class="intro">I work remotely as a product designer for <a href="https://www.nagarro.com/en" target="_blank">Nagarro</a>, turning our clients needs into validated working products and services through a human centered design approach.</p>
        <p><a class=" " href="/about">More about me 👉</a></p>
        <ul class="gallery">
          <li><img src="assets/images/profile_1.jpg" alt="Carlos Portrait"></li>
          <li><img src="assets/images/profile_2.jpg" alt="Carlos with his dog Joy"></li>
        </ul>
    </div>
    <div class="selected-article spacer reveal">
      <h2 class="title-tag">Writtings</h2>
      {% for post in site.categories.articles limit:3 %}
              <article class="selected-article--card">
                <div class="selected-article--content">
                  <h3><a class=" " href="{{ post.url }}">{{ post.title }}</a></h3>
                  <p>{{ post.excerpt }}</p>
                </div>
            </article>
      {% endfor %}
      <p><a class=" " href="/articles">More articles 👉</a></p>
    </div>
  <div class="selected-work spacer">
    <h2 class="title-tag reveal">Selected Work</h2>
    <ul class="post-list reveal">
        <li class="reveal">
          <a href="https://n.vodafone.ie/en.html"><img src="assets/images/vodafone@2x.jpg" alt="Vodafone website"></a>
          <section class="work-title">
              <h3>
                <a class="work-link  " href="https://n.vodafone.ie/en.html">Vodafone Ireland</a>
              </h3>
              <p>Shaping business solutions in the digital space through insight led methodologies such as design thinking.</p>
          </section>
        </li>
    <li class="reveal">
        <a href="https://www.eir.ie/"><img src="assets/images/eir@2x.jpg" alt="eir website"></a>
        <section class="work-title">
          <h3>
            <a class="work-link  " href="https://www.eir.ie/">Eir</a>
          </h3>
          <p>Main responsibilities were to redefine all product users flows through quantitative and qualitative insights.</p>
        </section>
    </li>
    <li class="reveal">
      <a href="https://www.tourismireland.com/"><img src="assets/images/tourism_ireland@2x.jpg" alt="Tourism Ireland"></a>
      <section class="work-title">
          <h3>
            <a class="work-link  " href="https://www.tourismireland.com/">Tourism Ireland</a>
          </h3>
          <p>Lead the entire redesign process on how Tourism Ireland communicates to their audience where investments are being made to promote the island of Ireland.</p>
      </section>
    </li>
    <li class="reveal">
          <a href="http://www.irishrail.ie/"><img src="assets/images/irish_rail@2x.jpg" alt="Irish Rail"></a>
          <section class="work-title">
            <h3>
              <a class="work-link  " href="http://www.irishrail.ie/">Irish Rail</a>
            </h3>
            <p>Collaborated in the process of enhancing the digital experience provided so that their online presence was inline with their audience expectations.</p>
        </section>
      </li>
      <li class="reveal no-link">
        <img class="no-link" src="assets/images/rds@2x.jpg" alt="Royal Dublin Society">
        <section class="work-title">
            <h3>
              RDS
            </h3>
            <p>Lead the redesign of the RDS online presence, not only to modernise it but also to promote more efficiently the space for event booking.</p>
        </section>
      </li>
      <li class="reveal no-link">
        <img class="no-link" src="assets/images/energia@2x.jpg" alt="Energia Registrations">
        <section class="work-title">
            <h3>
              Energia Registrations
            </h3>
            <p>Through research I was able to identify key optimisations to the registration process which led to an increase in the conversion rate.</p>
        </section>
      </li>
    </ul>
  </div>
  <div class="spacer reveal reading">
    <img src="assets/images/book.jpg" alt="Stack of Books">
    <h2 class="title-tag">Currently Reading</h2>
    <h3><a class=" " href="https://www.amazon.com/gp/product/081298160X/">The Power of Habit</a></h3>
    <p>by Charles Duhigg</p>
  </div>
</div>
{% include contact.html %}
