<div class="contact spacer reveal">
  <a name="contact">
      <h3 class="title-tag">Get in touch</h3>
  </a>

  <section class="contact-wrapper">
    <h4>In case you'd like to talk to me about work or ask me anything, just hit the form below.</h4>
    <form method="POST" action="https://formspree.io/carlosjgsousa@gmail.com">
      <p>
        <label for="email">Your email</label>
        <input type="email" name="email" id="email" required>
      </p>
      <p>
        <label for="message">Your message</label>
        <textarea name="message" placeholder="" id="message" required></textarea>
      </p>
      <input type="text" name="_gotcha" style="display:none"  />
      <button class="button color-change" type="submit">Hit me up</button>
    </form>
  </section>
</div>
