<div class="contact spacer reveal">
  <h3 class="title-tag">Get in touch</h3>
  <section class="contact-wrapper">
      <h4 class="color-change">
          Send me a message about work or something else and I'll get back to you as soon as possible.
      </h4>
      <form action='https://www.getform.org/f/96bd8a7a-df85-4a6f-a3da-a4df9951bd8a' method="POST">
          <p><input type="text" name="name" placeholder="Name"></p>
          <p><input required type="email" name="email" placeholder="Email"></p>
          <p><textarea placeholder="Your message..." name="message" rows="8" cols="40"></textarea></p>
          <input class="color-change" type="submit" value="Send message">
      </form>
  </section>
</div>
