<footer class="site-footer">
    <div class="wrapper">
        <ul class="social-media-list">
            <li>
                <a href="https://dribbble.com/carlosjgsousa">Dribbble</a>
            </li>
            <li>
                <a class=" " href="https://www.linkedin.com/in/carlosjgsousa">LinkedIn</a>
            </li>
            <li>
                <a class=" " href="https://twitter.com/nameiskiko">Twitter</a>
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="checkBoxTheme" >
                <span class="slider"></span>
              </label>
            </li>
        </ul>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.9/scrollreveal.min.js"></script>
<script src="{{ root_url }}/assets/js/main.js"></script>
