<footer class="site-footer">
    <div class="wrapper">
        <ul class="social-media-list">
            <li>
                <a href="https://dribbble.com/carlosjgsousa">Dribbble</a>
            </li>
            <li>
                <a class=" " href="https://www.linkedin.com/in/carlosjgsousa">LinkedIn</a>
            </li>
            <li>
                <a class=" " href="https://twitter.com/nameiskiko">Twitter</a>
            </li>
        </ul>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.9/scrollreveal.min.js"></script>
<script src="{{ root_url }}/assets/js/main.js"></script>
