<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="UvSVNNqaWoSVJdvzbZSVk-JjEXe-XREVKN6-GOpkft0" />
  <title>{% if page.title %}{{ page.title }} – Carlos Sousa – Product Designer {% else %}{{ site.title }}{% endif %}</title>
  <meta name="title" content="{% if page.title %}{{ page.title}}  – Carlos Sousa – Product Designer {% else %}{{ site.title }}{% endif %}">
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  <meta name="author" content="Carlos Sousa">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">

  <link rel="stylesheet" href="{{ root_url }}/assets/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@nameiskiko" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} – Carlos Sousa – Product Designer {% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:image" content="{{ root_url }}/assets/images/profile.jpg" />

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://carlosousa.net" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }} – Carlos Sousa – Product Designer {% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:image" content="/assets/images/profile.jpg" />
  <meta property="og:site_name" content="Carlos Sousa – Product Designer" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{ root_url }}/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ root_url }}/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ root_url }}/assets/images/favicon-16x16.png">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49716347-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-49716347-1');
  </script>
</head>
