<div class="last-articles spacer reveal">
  <h4 class="title-tag">More articles</h4>
  {% for post in site.categories.articles limit:3 %}
    {% if post.url != page.url %}
      {% if forloop.index < 3 or found %}
      <article>
          <span class="date">{{ post.date | date: "%-d %B %Y"}}</span>
          <h3><a class=" " href="{{ post.url }}">{{ post.title }}</a></h3>
          <p>{{ post.excerpt }}</p>
      </article>
      {% endif %}
    {% else %}
      {% assign found = true %}
    {% endif %}
  {% endfor %}
</div>
