/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

::selection {
  background: $mid-color;
  color: $light-color;
}

//Dark Theme
/*
.theme-dark {
  a {
      color: $brand-color-dark;
      &:visited {
          color: $brand-color-dark;
      }
      &:before {
          background-color: $brand-color-dark;
          opacity: .3;
      }

  }
  body {
      background-color: $dark-color;
      color: $light-color;
  }
  .site-title {
      color: $light-color;
    &,
    &:hover, &:visited {
        color: $light-color;
        box-shadow: none;
    }
    &:before {
      display: none;
    }
  }
  .title-tag {
      color: $mid-color;
  }
  input[type="submit"], .button {
    color: $brand-color-dark;
    border: 2px solid $brand-color-dark;
    &:hover {
        box-shadow: 0 2px 5px 0px rgba(0,0,0,.2);
        background: $brand-color-dark;
        color: $light-color;
    }
    &::before {
      display: none;
    }
    &:hover::before {
      display: none
    }
  }
  .share-buttons > div > svg {
    fill: $light-color;
  }
  blockquote::before,blockquote::after {
         color: $light-color;
  }
}
*/
/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    font-family: $base-font-family;
    color: $dark-color;
    background-color: $light-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    animation: fadein ease-in 1s;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.15;
    font-weight: 500;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .text_small {font-size: 0.833em;}

@include media-query($on-palm) {

    h1 {font-size: 2em;}
    h2 {font-size: 1.7em;}
    h3 {font-size: 1.563em;}
    h4 {font-size: 1.25em;}

}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
    transition: all .3s ease-in-out;
    position: relative;
    
    &:visited {
        
        color: $brand-color;
    }
}

.post-list > li:hover .work-link::before {
  transform: scaleY(1);
  transform-origin: bottom;
}

/**
 * Blockquotes
 */

blockquote {
    font-size: 1.5rem;
    max-width: 650px;
    margin: 0 auto;
    padding: 1.5rem 0 1.5rem 1.5rem;
    @include media-query($on-laptop) {
      font-size: 1.2rem;
    }
}
blockquote:before {
    color: $dark-color;
    
    display: inline-block;
    content: "“";
    position: absolute;
    font: 70px "Georgia", serif;
    margin-left: -40px;
    margin-top: -10px;
    text-indent: 0;
}
blockquote:after {
    color: $dark-color;
    
    display: inline-block;
    content: "”";
    position: absolute;
    font: 70px "Georgia", serif;
    margin-left: 10px;
    margin-top: -10px;
    text-indent: 0;
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: $mid-color;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right:$spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.fade-out {
    /* CSS animation for the fade out effect */
    animation: fadeOut 0.5s ease-in;
  }
  
  .fade-in {
    /* CSS animation for the fade in effect */
    animation: fadeIn 0.5s ease-in;
    opacity: 0;
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }