/**
 * Site header
 */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  @include media-query($on-palm) {
    position: static;
    display: block;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include media-query($on-palm) {
      display: block;
      width: auto;
    }
  } 
}

.site-title {
    font-size: 24px;
    line-height: 1.5rem;
    color: $dark-color;
    display: inline-block;
    font-weight: 700;
    justify-content: flex-start;
    
    &,
    &:hover, &:visited {
      color: $dark-color;
      text-decoration: none;
      
    }
    &:before {
      display: none;
    }
    @include media-query($on-palm) {
        position: relative;
        top: auto;
        margin: 20px 0 0 0;
        font-size: 28px;
    }
}

nav {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 1rem;
        li {
            margin-left: 60px;
            font-weight: normal;
        }
        @include media-query($on-palm) {
            display: flex;
            flex-wrap: wrap;
            position: static;
            flex-direction: row;
            justify-content: space-between;
            margin: 30px 0 0 0;
            li {
                margin-left: 0px;
            }
        }
    }
}

/**
 * Site footer
 */
 .site-footer {
  padding: 0 20px;
 }
.social-media-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  margin-left: 0;
  @include media-query($on-palm) {
      flex-wrap: wrap;
      justify-content: space-between;
  }
}
.social-media-list li {
  list-style: none;
  margin-left: 60px;
  font-size: 14px;
  font-weight: normal;
  @include media-query($on-palm) {
      text-align: center;
      display: flex;
      margin-left: 0;
  }
}
.social-media-list li a:hover {
  @include media-query($on-palm) {
      margin-left: 0;
  }
}
.social-media-list::after {
    @include media-query($on-palm) {
        content: '';
        width: 100%;
    }
}
.social-media-list .email-button {
    @include media-query($on-palm) {
        order: 0;
        width: 100%;
    }
}
.social-media-list .email-button a {
    @include media-query($on-palm) {
        display: block;
        width: 80%;
        margin: 0 auto 30px auto;
        text-align: center;
        border: 2px solid;
        padding: 15px 20px;
        border-radius: 50px;
        font-size: 18px;
        &:hover {
            margin: 0 auto 30px auto;
            box-shadow: none;
        }
    }

}

/**
 * Page content
 */

.page-title {
  margin-top: 20px;
 }
.post-content ul, .post-content ol {
   li {
     margin: 10px 0;
   }
}
.page-content {
    padding: 100px 0;
    @include media-query($on-palm) {
      padding: 20px;
    }
}
.content {
  width: calc(80% - (#{$spacing-unit} / 2));
  margin: 0 auto;
  @include media-query($on-palm) {
      float: none;
      width: 100%;
  }
}

.post-list {
    margin-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media-query($on-palm) {
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }


    > li {
        width: 50%;
        padding-right: $spacing-unit;
        box-sizing: border-box;
        align-self: start;
        margin-bottom: 100px;
        @include media-query($on-laptop) {
            width: 50%;
        }
        @include media-query($on-palm) {
            width: 100%;
            padding: 0;
            margin-bottom: 40px;
        }
        img {
            max-width: 100%;
            display: block;
            margin-bottom: 20px;
            border-radius: 30px;
        }
        &:hover img {
            transform: scale(1.02);
        }
        &:hover img.no-link {
            transform: scale(1);
        }
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

/**
 * Index
 */
.spacer {
  padding: 100px 0;
  @include media-query($on-palm) {
     padding: 30px 0;
  }
}
.spacer:first-child {
  padding-top: 0;
}
.profile {
  @extend %clearfix;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  @include media-query($on-laptop) {
     display: block;
     padding-top:0;
  }
}
.profile p {
  flex-grow: 1;
  font-size: 1rem;
  a {
    font-weight: normal;
  }
}
.profile h1 {
  z-index: 2;
  width: 100%;
  margin-top: 20px;
  @include media-query($on-laptop) {
     margin-left: 0;
     width: 100%;
  }
}
.profile .intro {
  font-size: 1.4rem;
  margin: 30px 0;
}

.profile h1 a {
  font-size: 16px;
  transition: all .3s ease-in-out;
  display: inline-block;
  @include media-query($on-palm) {
     display: block;
     margin-top: 20px;
  }
}
.profile h1 a:hover {
  margin-left: 2px;
  @include media-query($on-palm) {
    margin-left: 0;
  }
}
.profile-picture {
  width: 300px;
  height: 300px;
  float: left;
  margin: 0 50px 10px 0;
  shape-outside: circle(50%);
  img {
    border-radius: 50%;
    display: block;
  }
  @include media-query($on-palm) {
    width: 250px;
    height: 250px;
    float: none;
    margin: 0 0 50px 0;
  }
}
.gallery {
  margin: 50px 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  li {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    margin: 0 0 30px 0;
    text-align: center;
    img {
      border-radius: 30px;
    }
  }
  @include media-query($on-palm) {
    flex-flow: row wrap;
    flex-basis: 100%;
    margin-top: 50px;
    li {
      width: 100%;
      padding: 0;
      margin-bottom: 30px;
    }
  }

  li:first-child, li:nth-child(3n+3) {
    padding-left: 0;
  }
}

.title-tag {
  font-size: 16px;
  color: $dark-color;
 
}
.current p {
  font-size: 28px;
  @include media-query($on-palm) {
    font-size: 24px;
    line-height: initial;
    margin-bottom: 40px;
  }
}
.current ul {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.current ul li {
    font-weight: normal;
    list-style: none;
    font-size: 14px;
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    padding: 0 20px 30px 0;
    box-sizing: border-box;
    @include media-query($on-palm) {
    width: 50%;
    }
}
.current ul li span {
  font-size: 24px;
}
.selected-work {
    position: relative;
    img {
        transition: all .2s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    > p {
      margin: 1.5rem 0 4rem 0;
      font-size: 1.4rem;
    }
}
.selected-work .work-link {
  transition: all .3s ease-in-out;
  display: inline-block;
      &:hover {
          box-shadow: none;
      }
}

.last-articles article {
    margin-bottom: 40px;
    h3 {
        margin-bottom: 10px;
        font-size: 1.953em;
    }
    .date {
        font-size: 16px;
        color: $mid-color;
    }
}


.contact-wrapper {
    @include media-query($on-laptop) {
        display: block;
    }
    h4 {
        @include media-query($on-laptop) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    form {
        width: 50%;
        @include media-query($on-laptop) {
            width: 100%;
        }
          input[type="text"],
          input[type="email"],
          textarea {
              display: block;
              font-size: 16px;
              border: 1px solid $mid-color;
              padding: 15px;
              border-radius: 50px;
              outline: none;
              box-sizing: border-box;
              width: 100%;
          }
          label {
            display: block;
            margin-bottom: 20px;
            line-height: 2.5em;
          }
          textarea {
              resize: vertical;
              border-radius: 15px;
              min-height: 100px;
              @include media-query($on-palm) {
                  width: 100%;
              }
          }
    }
}

input[type="submit"], .button {
    background: none;
    border-radius: 40px;
    display: inline-block;
    padding: 20px 40px;
    font-size: 16px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    text-align: center;
    min-width: 100px;
    font-weight: bold;
    line-height: 1em;
    color: $brand-color;
    border: 2px solid $brand-color;
      
    &:hover {
        
        background: $brand-color;
        color: $light-color;
    }
    &:active {
        transform: scale(.9);
    }
    &:before {
      display: none;
    }
    &:hover:before {
      display: none
    }
    @include media-query($on-palm) {
        width: 90%;
        max-width: 100%;;
        font-size: 16px;
        padding: 20px;
        font-weight: bold;
        margin: 0 auto;
        display: block;
    }
}
.selected-article p {

  a {
    font-weight: normal;
  }
}

.selected-article--card {
    @include media-query($on-laptop) {
        display: block;
        flex: 0 100%;
        padding-right: 0;
    }
    .selected-article--content {
        width: 100%;
        align-self: center;
        margin-bottom: 40px;
        @include media-query($on-palm) {
            width: 100%;
        }
        h2 {
            margin-bottom: 10px;
            font-size: 1.9rem;
           
        }
        p {
            margin: 0;
            @include media-query($on-palm) {
                display: block;
                width: 100%;
            }
        }
        .date {
            font-size: 16px;
            color: $mid-color;
        }
    }
}
.reading {
  img {
    margin-bottom: 30px;
    border-radius: 30px;
  }
}
/**
 * Posts
 */
.post-header {
    margin-top: 20px;
    margin-bottom: $spacing-unit;
}

.post-content {
    margin-bottom: $spacing-unit;
    width: 90%;
    @include media-query($on-palm) {
        width: 100%;
    }
    h2,h3,h4,p {
        margin-top: 1.5em;
    }
    .highlight {
        color: $dark-color;
        font-size: 1.15em;
        line-height: 1.5em;
        border-left: 5px solid $dark-color;
        background: $light-color;
        padding: 30px;
    }
    .case-intro {
        display: flex;
        @include media-query($on-palm) {
            display: block;
        }
        .case-intro h3 {
            width: 70%;
            margin-right: 30px;
            @include media-query($on-palm) {
                width: inherit;
                margin-right: 0;
            }
        }
        .case-tools ul {
            padding: 0;
            margin-left: 20px;
        }

    }
    .responsive-img {
        display: block;
        width: 100%;
        height: auto;
        margin: 5px 0;
    }
}

.share-buttons {display: flex; font-weight: normal;}
.share-buttons > div { margin-right: 10px; align-items: flex-start; border: 2px solid; border-radius: 50%; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; transition: all .2s linear;}
.share-buttons > div > svg {
  height: 16px; fill: $dark-color;
  
}
.share-buttons > div:hover {cursor: pointer;}
.share-buttons > .facebook:hover { background: #3B5998; border: 2px solid #3B5998;}
.share-buttons > .twitter:hover { background: #55ACEE; border: 2px solid #55ACEE;}
.share-buttons > .linkedin:hover { background: #0077b5; border: 2px solid #0077b5;}
.share-buttons > div:hover > svg {fill: $light-color;}
.share-buttons > .facebook > svg {height: 18px;}
.share-buttons > .twitter > svg {height: 20px;}
.share-buttons > .linkedin > svg {height: 19px;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $dark-color;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 2px;
  bottom: 3px;
  background-color: $light-color;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $light-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: $dark-color;
}

/* Rounded sliders */
.slider {
  border-radius: 30px;
}

.slider:before {
  border-radius: 50%;
}

.work-skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills {
  width: 40%;
  @include media-query($on-palm) {
    width: 100%;
  }
  ul{
    list-style: none;
    padding: 0;
    margin:0;
    li {
      margin-bottom: 5px;
    }
  }
}

.work-experience {
  width: 50%;
  @include media-query($on-palm) {
    width: 100%;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /*
    display: flex;
    flex-wrap: wrap;
    */
    li {
    //flex: 50%;
      margin-bottom: 30px;
    }
    .date {
      display: block;
      font-size: 1rem;
      color: $mid-color;
    }
  }
}
//cursor
.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
}

.cursor-dot {
    $size: 8px;
    width: $size;
    height: $size;
    background-color: black;
}

.clients-list ul {
  list-style: none;
  margin: 40px 0 0 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  li{
    margin-bottom: 40px;
    margin-right: 100px;
    @include media-query($on-palm) {
      margin-right: 0;
    }
  }
}