/**
 * Site header
 */
.site-title {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    line-height: 1.5rem;
    top: 50px;
    color: $text-color;
    display: inline-block;
    position: fixed;
    &,
    &:hover, &:visited {
      color: $text-color;
    }
    @include media-query($on-palm) {
        position: relative;
        top: auto;
        margin: 40px 0 0 0;
    }
}

.site-title span {
  color: $brand-color;
}

/**
 * Site footer
 */
.social-media-list {
  position: fixed;
  bottom: 20px;
  margin: 0;
  @include media-query($on-palm) {
      position: relative;
      display: flex;
  }
}
.social-media-list li {
  list-style: none;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  @include media-query($on-palm) {
      margin-bottom: 0;
      justify-content: space-around;
      width: 20%;
  }
}
.social-media-list li a:hover {
  margin-left: 2px;
  @include media-query($on-palm) {
      margin-left: 0;
  }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}
.content {
  width: -webkit-calc(80% - (#{$spacing-unit} / 2));
  float: right;
  @include media-query($on-palm) {
      float: none;
      width: 100%;
  }
}
.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    > li {
        width: 50%;
        padding-right: $spacing-unit;
        box-sizing: border-box;
        align-self: center;
        margin-bottom: $spacing-unit;
        @include media-query($on-laptop) {
            width: 50%;
        }
        @include media-query($on-palm) {
            width: 100%;
            padding: 0;
            margin-bottom: 40px;
        }
        img {
            max-width: 100%;
            display: block;
            margin-bottom: 20px;
            &:hover {
                transform: scale(1.02);
            }
        }
    }
}

.post-list li h2 {
  margin-bottom: 0px;
  font-size: 28px;
}

/**
 * Index
 */
.spacer {
  padding: 50px 0;
}
.profile {
  @extend %clearfix;
  display: flex;
  align-items: baseline;
  @include media-query($on-laptop) {
     display: block;
     padding-top:0;
  }
}
.profile p {
  z-index: 2;
  font-size: 42px;
  width: 100%;
  align-self: flex-end;
  margin-left: -50px;
  line-height: 3.5rem;
  margin-top: 100px;
  @include media-query($on-laptop) {
     margin-left: 0;
     margin-top: 20px;
     width: 100%;
     font-size: 38px;
     line-height: 3rem;
  }
  @include media-query($on-palm) {
     font-size: 28px;
     line-height: initial;
  }
}
.profile p span {

}

.profile p a {
  font-size: 16px;
  transition: all .3s ease-in-out;
  display: inline-block;
  @include media-query($on-palm) {
     display: block;
     margin-top: 20px;
  }
}
.profile p a:hover {
  margin-left: 2px;
  @include media-query($on-palm) {
    margin-left: 0;
  }
}
.profile-picture {
  width: 55%;
  box-shadow: 15px 20px 80px rgba(0, 0, 0, .15);
  @include media-query($on-laptop) {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      box-shadow: none;
      overflow: hidden;
  }
  @include media-query($on-palm) {
    width: 200px;
    height: 200px;
  }
}
.profile-picture img {
  @include media-query($on-laptop) {
    transform: translate(0,-20%);
    opacity: .6;
  }
}

.title-tag {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: $text-color-light;
}
.current p {
  font-size: 28px;
  @include media-query($on-palm) {
    font-size: 24px;
    line-height: initial;
    margin-bottom: 40px;
  }
}
.current ul {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.current ul li {
  list-style: none;
  font-size: 14px;
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  padding: 0 20px 30px 0;
  box-sizing: border-box;
  @include media-query($on-palm) {
    width: 50%;
  }
}
.current ul li span {
  font-size: 24px;
  font-family: "Lato", sans-serif;
}
.selected-work {
    img {
        transition: all .2s ease-in-out;
        -webkit-backface-visibility: hidden;
    }
    img:hover {
        box-shadow: rgba(0, 0, 0, 0.14902) 15px 20px 80px;
    }
}
.selected-work .work-link {
  transition: all .3s ease-in-out;
  display: inline-block;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    @include media-query($on-laptop) {
        display: block;
    }
    h4 {
        width: 35%;
        align-self: center;
        font-size: 32px;
        @include media-query($on-laptop) {
            width: 100%;
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
    form {
        width: 50%;
        @include media-query($on-laptop) {
            width: 100%;
        }
          input[type="text"],
          input[type="email"],
          textarea {
              font-size: 14px;
              border: 1px solid #efefef;
              padding: 15px;
              outline: none;
              width: 250px;
              box-sizing: border-box;
              @include media-query($on-palm) {
                  width: 100%;
              }
          }
          textarea {
              resize: vertical;
              width: 350px;
              @include media-query($on-palm) {
                  width: 100%;
              }
          }
          input[type="submit"] {
              border: none;
              padding: 10px 20px;
              color: #FFF;
              border-radius: 5px;
              font-size: 14px;
              cursor: pointer;
              -webkit-appearance: none;
              transition: all .2s ease-in-out;
              -webkit-backface-visibility: hidden;
              &:hover {
                  transform: scale(1.02);
              }
              @include media-query($on-palm) {
                  width: 100%;
                  font-size: 16px;
                  padding: 20px;
                  font-weight: bold;
              }
          }
          input[type="submit"].red {
            background:#FF7458;
          }
          input[type="submit"].blue {
            background:#2246D8;
          }
          input[type="submit"].green {
            background:#31D3AF;
          }
          input[type="submit"].yellow {
            background: $color-yellow;
          }
    }
}

.selected-article h2 {
  font-size: 28px;
  line-height: 2rem;
  transition: all .2s ease-in-out;
}

.selected-article--card {
    display: flex;
    justify-content: space-around;
    @include media-query($on-palm) {
        display: block;
    }
    .selected-article--img {
        width: 50%;
        -webkit-backface-visibility: hidden;
        &:hover {
            transform: scale(1.02);
            box-shadow: rgba(0, 0, 0, 0.14902) 15px 20px 80px;
        }
    }
    .selected-article--content {
        width: 50%;
        margin-left: 40px;
        align-self: center;
        @include media-query($on-palm) {
            width: 100%;
            margin-left: 0;
            margin-top: 20px;
        }
        p {
            @include media-query($on-laptop) {
                display: none;
            }
            @include media-query($on-palm) {
                display: block;
                width: 100%;
            }
        }
    }
}
/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
