/**
 * Site header
 */
.site-title {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    line-height: 1.5rem;
    top: 50px;
    color: $text-color;
    display: inline-block;
    position: fixed;
    &,
    &:hover, &:visited {
      color: $text-color;
      box-shadow: none;
    }
    @include media-query($on-palm) {
        position: relative;
        top: auto;
        margin: 40px 0 0 0;
        font-size: 28px;
    }
}

.site-title span {
  //color: $brand-color;
}

/**
 * Site footer
 */
.social-media-list {
  position: fixed;
  bottom: 20px;
  margin: 0;
  @include media-query($on-palm) {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
}
.social-media-list li {
  list-style: none;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  @include media-query($on-palm) {
      margin-bottom: 0;
      text-align: center;
  }
}
.social-media-list li a:hover {
  @include media-query($on-palm) {
      margin-left: 0;
  }
}
.social-media-list::after {
    @include media-query($on-palm) {
        content: '';
        width: 100%;
    }
}
.social-media-list .email-button {
    @include media-query($on-palm) {
        order: 0;
        width: 100%;
    }
}
.social-media-list .email-button a {
    @include media-query($on-palm) {
        display: block;
        width: 80%;
        margin: 0 auto 30px auto;
        text-align: center;
        border: 2px solid;
        padding: 15px 20px;
        border-radius: 50px;
        font-size: 18px;
        &:hover {
            margin: 0 auto 30px auto;
            box-shadow: none;
        }
    }

}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}
.content {
  width: -webkit-calc(80% - (#{$spacing-unit} / 2));
  float: right;
  @include media-query($on-palm) {
      float: none;
      width: 100%;
  }
}
.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    > li {
        width: 50%;
        padding-right: $spacing-unit;
        box-sizing: border-box;
        align-self: center;
        margin-bottom: $spacing-unit;
        @include media-query($on-laptop) {
            width: 50%;
        }
        @include media-query($on-palm) {
            width: 100%;
            padding: 0;
            margin-bottom: 40px;
        }
        img {
            max-width: 100%;
            display: block;
            margin-bottom: 20px;
            border-radius: 30px;
        }
        &:hover {
            cursor: pointer;
        }
        &:hover img {
            transform: scale(1.02);
        }
    }
}

.post-list li h2 {
  margin-bottom: 0px;
  font-size: 28px;
}

/**
 * Index
 */
.spacer {
  padding: 50px 0;
  @include media-query($on-palm) {
     padding: 30px 0;
  }
}
.profile {
  @extend %clearfix;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  @include media-query($on-laptop) {
     display: block;
     padding-top:0;
  }
}
.profile p {
  flex-grow: 1;
}
.profile h1 {
  z-index: 2;
  font-size: 42px;
  width: 100%;
  line-height: 3.5rem;
  margin-top: 50px;
  @include media-query($on-laptop) {
     margin-left: 0;
     margin-top: 20px;
     width: 100%;
     font-size: 38px;
     line-height: 3rem;
  }
  @include media-query($on-palm) {
     font-size: 28px;
     line-height: initial;
  }
}

h1 {
  font-size: 42px;
  line-height: 3.5rem;
  @include media-query($on-palm) {
     font-size: 28px;
     line-height: initial;
  }
}

.profile h1 a {
  font-size: 16px;
  transition: all .3s ease-in-out;
  display: inline-block;
  @include media-query($on-palm) {
     display: block;
     margin-top: 20px;
  }
}
.profile h1 a:hover {
  margin-left: 2px;
  @include media-query($on-palm) {
    margin-left: 0;
  }
}
.profile-picture {
  width: 300px;
  height: 300px;
  img {
    border-radius: 50%;
    display: block;
  }
  @include media-query($on-palm) {
    width: 200px;
    height: 200px;
  }
}

.title-tag {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: $text-color;
  @include media-query($on-palm) {
      font-size: 18px;
  }
}
.current p {
  font-size: 28px;
  @include media-query($on-palm) {
    font-size: 24px;
    line-height: initial;
    margin-bottom: 40px;
  }
}
.current ul {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.current ul li {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    list-style: none;
    font-size: 14px;
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    padding: 0 20px 30px 0;
    box-sizing: border-box;
    @include media-query($on-palm) {
    width: 50%;
    }
}
.current ul li span {
  font-size: 24px;
  font-family: "Lato", sans-serif;
}
.selected-work {
    position: relative;
    img {
        transition: all .2s ease-in-out;
        -webkit-backface-visibility: hidden;
    }
    li:hover img {
        box-shadow: rgba(0, 0, 0, 0.14902) 15px 20px 80px;
    }
    .work-title {

    }
}
.selected-work .work-link {
  transition: all .3s ease-in-out;
  display: inline-block;
      &:hover {
          box-shadow: none;
      }
}
.selected-work .work-title p {
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.dribbble-feed ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        width: 50%;
        padding-right: 30px;
        box-sizing: border-box;
        align-self: center;
        margin-bottom: 30px;
        @include media-query($on-palm) {
        width: 100%;
        padding-right: 0;
        }
    }
}

.contact-wrapper {
    @include media-query($on-laptop) {
        display: block;
    }
    h4 {
        font-size: 1.5em;
        @include media-query($on-laptop) {
            width: 100%;
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
    form {
        width: 50%;
        @include media-query($on-laptop) {
            width: 100%;
        }
          input[type="text"],
          input[type="email"],
          textarea {
              display: block;
              font-size: 16px;
              border: 1px solid #cccccc;
              padding: 15px;
              border-radius: 50px;
              outline: none;
              box-sizing: border-box;
              width: 100%;
          }
          label {
            display: block;
            font-size: 14px;
            margin-bottom: 10px;
          }
          textarea {
              resize: vertical;
              border-radius: 15px;
              min-height: 100px;
              @include media-query($on-palm) {
                  width: 100%;
              }
          }
    }
}

input[type="submit"], .button {
    background: none;
    border-radius: 40px;
    display: inline-block;
    padding: 20px 40px;
    font-size: 16px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    text-align: center;
    min-width: 100px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    &:hover {
        box-shadow: 0 2px 5px 0px rgba(0,0,0,.2);
    }
    &:active {
        transform: scale(.9);
    }
    @include media-query($on-palm) {
        width: 90%;
        max-width: 100%;;
        font-size: 16px;
        padding: 20px;
        font-weight: bold;
        margin: 0 auto;
        display: block;
    }
}
input[type="submit"].red, .button.red {
  color: $color-red;
  border: 2px solid $color-red;
  &:hover {
      background: $color-red;
      color: #FFFFFF;
  }
}
input[type="submit"].blue, .button.blue {
  color: $color-blue;
  border: 2px solid $color-blue;
  &:hover {
      background: $color-blue;
      color: #FFFFFF;
  }
}
input[type="submit"].green, .button.green {
  color: $color-green;
  border: 2px solid $color-green;
  &:hover {
      background: $color-green;
      color: #FFFFFF;
  }
}
input[type="submit"].yellow, .button.yellow {
  color: $color-yellow;
  border: 2px solid $color-yellow;
  &:hover {
      background: $color-yellow;
      color: #FFFFFF;
  }
}

.selected-article h2 {
  font-size: 28px;
  line-height: 2rem;
  transition: all .2s ease-in-out;
}

.selected-article--card {
    display: flex;
    justify-content: space-around;
    @include media-query($on-palm) {
        display: block;
    }
    .selected-article--content {
        width: 100%;
        margin-bottom: 30px;
        align-self: center;
        @include media-query($on-palm) {
            width: 100%;
            margin-left: 0;
            margin-top: 20px;
        }
        p {
            font-family: "Lato", sans-serif;
            font-weight: 100;
            @include media-query($on-laptop) {
                display: none;
            }
            @include media-query($on-palm) {
                display: block;
                width: 100%;
            }
        }
    }
}
/**
 * Posts
 */
.post-header {
    margin-top: 20px;
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-top: 40px;
    margin-bottom: $spacing-unit;
    width: 80%;
    @include media-query($on-palm) {
        width: 100%;
    }
    p {
        font-family: "Lato", sans-serif;
        text-align: justify;
        margin: 30px 0;
        font-weight: normal;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    .post-content-img {
        margin-top: 50px;
            img {
                display: block;
                max-width: 90%;
                margin: 0 auto;
                @media-query($on-laptop) {
                    max-width: 100%;
                }
            }
            .post-content-img-caption {
                font-size: 13px;
                font-weight: normal;
                text-align: center;
                font-family: "Lato", sans-serif;
                color: lighten($text-color, 40%);
            }
    }
    .post-content-img + .post-content-img  {
        margin: 50px auto;
    }
}
